@model IEnumerable<ProductModel>
@{
    ViewData["title"] = "Product Listed";
}
<h3>List Products</h3>
<a asp-action="Create" asp-controller="Product">Add New Product</a>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Product Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Sold out</th>
            <th scope="col">Product Description</th>
            <th scope="col">Product Image</th>
            <th scope="col">Product Slug</th>
            <th scope="col">Product Category</th>
            <th scope="col">Product Brand</th>
            <th scope="col"></th>
            <th scope="col"></th>

        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td scope="row">@item.Id</td>
                <td>@item.Name</td>
                <td>
                    @if (@item.Quantity == 0)
                    {
                        <span class="text text-danger"><b> @item.Quantity</b></span>
                    }
                    else
                    {
                        <span class="text text-primary"> @item.Quantity</span>
                    }
                    <br />
                    <a asp-action="AddQuantity" asp-controller="Product" asp-route-Id="@item.Id">Add Quantity</a>
                </td>
                <td>@item.Sold</td>
                <td>@Html.Raw(@item.Description)</td>
                <td>
                    <img width="50" src="~/images/product/@item.Image"/>
                </td>
                <td>@item.Slug</td>
                <td>@item.Category.Name</td>
                <td>@item.Brand.Name</td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-controller="Product" asp-route-id="@item.Id">Edit</a>
                </td>
                <td>
                    <form asp-action="Delete" asp-controller="Product" method="post">
                        <input type="hidden" name="Id" value="@item.Id" />
                        <button type="submit" class="btn btn-danger confirmDeletion">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>