@model IEnumerable<ProductModel>
@{
    ViewData["title"] = "Product Listed";
}
<h3>List Products</h3>
<a asp-action="Create" asp-controller="Product">Add New Product</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">ProductName</th>
            <th scope="col">Product Description</th>
            <th scope="col">Product Image</th>
            <th scope="col">Product Slug</th>
            <th scope="col">Product Category</th>
            <th scope="col">Product Brand</th>
            <th scope="col">Product Manager</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td scope="row">@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>
                    <img width="50" src="~/images/product/@item.Image"/>
                </td>
                <td>@item.Slug</td>
                <td>@item.Category.Name</td>
                <td>@item.Brand.Name</td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-controller="Product" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-controller="Product" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
  
       
    </tbody>
</table>